html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:  50px;
}

#chess-board {
  display: inline-block;
  border: 2px solid #2b2b2b;
  
}

#chess-board div {
  line-height: 1px;
}

#chess-board span {
  width: 32px;
  height: 32px;
  display: inline-block;
}

#chess-board div:nth-child(odd) span:nth-child(even),
#chess-board div:nth-child(even) span:nth-child(odd){
    background-color: black;
}
#chess-board div:nth-child(even) span:nth-child(even),
#chess-board div:nth-child(odd) span:nth-child(odd){
    background-color: snow;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.options input {
  width: 100%;
  padding: 6px 0;
  border: 1px solid #2b2b2b;
  border-radius: 0;
  text-align: center;
}

.options button {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ececec;
  background-color: #ececec;
  padding: 5px 0;
  transition: .3s;
  cursor: pointer;
}

.options button:hover {
  background-color: #1d79e2;
  color: #FFF;
}